default:
    calls:
        error_reporting: 16383 # E_ALL & ~E_USER_DREPRECATED
    suites:
        default:
            filters:
                tags: ~@ko
            contexts:
                - ApiExtension\Context\ApiContext
                - ApiExtension\Context\FixturesContext
                - Behat\MinkExtension\Context\MinkContext
                - Behatch\Context\JsonContext
                - Behatch\Context\RestContext
                - Alex\MailCatcher\Behat\MailCatcherContext
                - AuthContext:
                    registry: '@doctrine'
                    session: '@session'
                - DatabaseContext:
                    registry: '@doctrine'
                - FeatureContext:
                    registry: '@doctrine'
                - ForgotPasswordContext:
                    registry: '@doctrine'
                    passwordTokenManager: '@test.coop_tilleuls_forgot_password.manager.password_token'
    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: features/bootstrap/bootstrap.php
                class: App\Kernel
        Behat\MinkExtension:
            base_url: 'https://www.zero-dechet.fr'
            sessions:
                default:
                    symfony2: ~
        Behatch\Extension: ~
        Alex\MailCatcher\Behat\MailCatcherExtension\Extension:
            url: http://mailcatcher
            purge_before_scenario: true
        ApiExtension: ~
